.contactPage {
  width: 100%;
}
.contactMainSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
  gap: 4%;
  margin-bottom: 20px;
}
.contactInfoBox {
  width: 100%;
  margin-bottom: 20px;
}
.contactInputBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.contactHeader {
  font-size: 23px;
  font-weight: 500;
  color: #000;
  margin-bottom: 30px;
}
.contactSubHeader {
  font-size: 16px;
  color: #4d4d4d;
}
.contact_Box {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  margin-bottom: 15px;
}
.contact_Box p {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.contactPage .hrLine {
  margin: 20px 0;
}
.mapOverBox {
  width: 100%;
  padding: 1% 2%;
}
.mapBox {
  width: 100%;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Tabe view */
@media only screen and (min-width: 768px) {
  .contactMainSection {
    flex-direction: row;
    padding: 6% 2%;
    gap: 2%;
    margin-bottom: 0;
  }
  .mapOverBox {
    padding: 1% 2%;
  }
  .contactInfoBox {
    width: 50%;
    margin-bottom: 0;
  }
  .contactInputBox {
    width: 50%;
  }
}
/* Desktop view */
@media only screen and (min-width: 1000px) {
  .contactMainSection {
    padding: 6% 9%;
    gap: 7%;
  }
  .mapOverBox {
    padding: 1% 9%;
  }
}
