.pcbasPrice {
  width: fit-content;
  margin: 0;
}
.priceHeaderLabelBox {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.checkBox {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: start;
  margin-bottom: 20px;
}
.checkBox input {
  min-width: 20px;
  min-height: 20px;
}
.checkBox p {
  font-size: 16px;
  color: #4d4d4d;
}
.contactHeader {
  margin-bottom: 20px;
}
.productCoverBox {
  width: 100%;
}
.productPaymentPage .productDetailBox {
  margin-top: 50px;
  gap: 40px;
  flex-direction: column;
}

.productNInfoBoxBox {
  width: 100%;
}
.productPaymentPage .productHeader {
  margin-bottom: 30px;
}
.productPaymentPage .pricePlaneBox {
  padding: 2% 2%;
}
.pricePanaleTableBox {
  width: 100%;
  min-width: 990px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.168);
  margin-top: 30px;
}
.PheaderRow {
  background: #feffea;
}
.PRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tableSel {
  min-height: 66px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tableHeaderText {
  font-size: 23px;
  color: #000;
  font-weight: 500;
}
.textAS {
  justify-content: start !important;
  padding-left: 20px;
}
.PrmTextColor {
  color: #fa8a05;
}
.tableOuterBox {
  width: 100%;
  overflow-x: scroll;
}

/* Tabe view */
@media only screen and (min-width: 768px) {
}
/* Desktop view */
@media only screen and (min-width: 1000px) {
  .productPaymentPage .productDetailBox {
    margin-top: 100px;
    flex-direction: row;
  }
  .productCoverBox {
    width: 50%;
  }

  .productNInfoBoxBox {
    width: 50%;
  }
  .productPaymentPage .pricePlaneBox {
    padding: 6% 9%;
  }
}
