.servicesPage {
  width: 100%;
}
.subPageHeroSection {
  width: 100%;
  position: relative;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding-bottom: 60px;
}
.navigateText {
  font-size: 12px;
  color: #fe8903;
  cursor: pointer;
}
.navigateText span {
  color: #000;
}
.serviceMainSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 0 20px;
}
.pageBg {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
.servicesPage .serviceCard {
  width: 100%;
}
/* Tabe view */
@media only screen and (min-width: 768px) {
  .serviceMainSection {
    margin: 50px 0;
  }
  .servicesPage .serviceCard {
    width: 25%;
  }
  .navigateText {
    font-size: 18px;
  }
}

/* Desktop view */
@media only screen and (min-width: 1000px) {
  .serviceMainSection {
    margin-top: 100px;
    margin-bottom: 50px;
  }
}
