.appBtn {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;
  padding: 0 20px;
  gap: 8px;
}
.disableBtn {
  background-color: gray !important;
  cursor: not-allowed;
  pointer-events: none;
}
.appBtn p {
  font-size: 14px !important;
}
.appBtn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.appholorBtn {
  border: 2px solid #fa8a05;
  background: #fff;
  transition: all 0.6s;
}
.appholorBtn p {
  color: #000 !important;
}
.orangeBtn {
  background: #ff9361 !important;
}
.orangeBtn:hover {
  background: #ff9361 !important;
}

/* Tabe view */
@media only screen and (min-width: 768px) {
  .appBtn p {
    font-size: 16px !important;
  }
}

/* Desktop view */
@media only screen and (min-width: 1000px) {
  .appBtn p {
    font-size: 18px !important;
  }
}
