.careersMainSection {
  width: 100%;
  padding: 4% 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.joinTeamSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4%;
}
.jtsimg {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}
.jtsTextBox {
  width: 100%;
}
.jtsimg p {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: #000;
}
.jtsimg img {
  width: 100%;
  rotate: 180deg;
}
.jtsTextBox p {
  font-size: 16px;
  color: #4d4d4d;
}
.jtsTextBox p span {
  color: #fe8903;
}
.careerCardMainBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.careerCardBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: start;
  margin-top: 30px;
}
.careerPage .btnBox {
  margin-top: 30px;
}

/* Tabe view */
@media only screen and (min-width: 768px) {
  .jtsimg {
    width: 40%;
    justify-content: start;
    gap: 50px;
    margin-bottom: 0;
  }
  .joinTeamSection {
    flex-direction: row;
  }
  .jtsimg {
    width: 40%; 
  }
  .jtsTextBox {
    width: 60%;
  }
  .jtsimg p {
    text-align: start;
  }
.jtsimg img {
rotate: none;
}
}

/* Desktop view */
@media only screen and (min-width: 1000px) {
  .careersMainSection {
    padding: 4% 9%;
  }
  .jtsimg {
    justify-content: space-between;
    gap: 0;
  }
}
