.TeamMainSection {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
  padding: 0 2%;
  gap: 30px;
  margin-bottom: 50px;
}
.teamSectionTitle {
  position: absolute;
  width: 100%;
  text-align: center;
  top: -153px;
  font-size: 1.5rem;
  font-weight: 700;
}
.teamPage .subPageHeroSection {
  padding-bottom: 95px;
}
.teamSectionTitle {
  font-size: 12px;
}
/* Tabe view */
@media only screen and (min-width: 768px) {
  .TeamMainSection {
    margin-top: 90px;
    padding: 0 9%;
  }
  .teamSectionTitle {
    top: -153px;
  }
  .teamSectionTitle {
    font-size: 20px;
  }
}

/* Desktop view */
@media only screen and (min-width: 1000px) {
  .TeamMainSection {
    margin-top: 150px;
  }
  .teamSectionTitle {
    top: -202px;
  }
}
