.heroBox {
  width: 100%;
  height: 100vh;
  position: relative;
}
.homeBg {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
}
.heroMainSection {
  width: 100%;
  padding: 6% 9%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
}
.hrTextBox {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hrImgBox {
  width: 40%;
}
.hrMainText {
  font-size: 50px;
  font-weight: 700;
  color: #000;
  font-family: poppinsBold;
}
.hrSummeryText {
  font-size: 20px;
  color: #4d4d4d;
}
