.heroBox {
  width: 100%;
  min-height: 820px;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.homeBg {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
}
.heroMainSection {
  width: 100%;
  padding: 6% 2%;
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  justify-content: space-between;
}
.heroMainSection .hrSummeryText {
  padding-left: 5%;
  text-align: start;
}
.hrTextBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.hrImgBox {
  width: 100%;
  display: flex;
  justify-content: center;
}
.hrImgBox img {
  width: 60%;
}
.hrMainText {
  width: 80%;
  font-size: 24px;
  font-weight: 700;
  color: #000;
  font-family: poppinsBold;
  text-align: center;
}
.hrSummeryText {
  font-size: 20px;
  color: #4d4d4d;
  text-align: center;
}
.gRatingBox {
  margin-top: 20px;
}
.ClogoBox {
  width: 100%;
  height: 120px;
  background: #0d203b;
}
.ClogoBox img {
  cursor: pointer;
}
.serviceSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding-top: 35px;
  margin-bottom: 9%;
}
.serviceSection .carousel-container {
  padding-top: 10px;
}
.sectionHeader {
  width: 80%;
  font-size: 25px;
  color: #000;
  font-weight: 700;
  font-family: "poppinsBold";
  text-align: center;
}
.serviceCardBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  overflow-x: scroll;
}
.texSection {
  width: 100%;
  padding: 0 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 6%;
  position: relative;
}
.taxImgBox {
  width: 100%;
  display: flex;
  justify-content: center;
}
.taxImgBox img {
  width: 65%;
  height: 100%;
}
.taxTextBox {
  width: 100%;
  padding: 20px 0;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.taxTextBox .taxTitle {
  font-family: "poppinsBold";
  font-size: 20px;
  font-weight: 600;
  color: #000;
  text-align: center;
}
.taxTextBox .taxSummery {
  font-size: 16px;
  color: #4d4d4d;
  margin: 30px 0;
}
.greenBg {
  position: absolute;
  top: 0%;
  left: 24%;
  width: 35%;
}
.taxQueSection {
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.taxQueSection .taxQueImg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.taxQueSection .sectionHeader {
  color: #fff;
  margin-bottom: 30px;
}
.taxQueCardBox {
  width: 100%;
}
.pricePlaneBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6% 0;
}
.priceCardBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-top: 2%;
  position: relative;
  overflow-y: scroll;
  padding: 25px 20px;
}
.yellowBg {
  position: absolute;
  top: 0%;
  display: none;
}
.BlogSection {
  width: 100%;
}
.BlogSection .carousel-container {
  width: 100%;
}
.BlogSection .carousel-item-padding-40-px {
  padding: 0 20px;
}
.PopularSection {
  width: 100%;
  display: none;
  justify-content: center;
}
.PopulariNSection {
  width: 95%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.ChipBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
  margin-top: 30px;
}
.chip {
  height: 30px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(241, 255, 47, 0.15) 0%,
    rgba(91, 177, 91, 0.15) 100%
  );
  border-radius: 50px;
  cursor: pointer;
}
.chip P {
  color: #4d4d4d;
  font-size: 16px;
}
.subscribeSection {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.subscribeInSection {
  width: 95%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  overflow: hidden;
}
.subBg {
  position: absolute;
  right: -30px;
  bottom: -30px;
}
.subMobileImg {
  width: 29%;
  position: absolute;
  right: 49px;
  top: 32px;
  display: none;
}
.subTitle {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
.subSummery {
  width: 100%;
  font-size: 16px;
  color: #4d4d4d;
  margin: 3% 0;
}
.emailInputBox {
  width: 100%;
  height: 38px;
  position: relative;
  border: 1px solid gray;
  border-radius: 50px;
  overflow: hidden;
}
.emailInputBox input {
  padding-left: 20px;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50px;
  color: #4d4d4d;
  font-size: 16px;
}
.emailInputBox input:focus {
  outline: none;
}
.emailInputBox .appBtn {
  position: absolute;
  right: 0px;
  top: 0px;
}
.reviewSection {
  width: 100%;
  padding: 2% 9%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviewSection .grating {
  margin: 45px 0;
}
.gratingTemImg {
  width: 100%;
}
.priceSelectTab {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}
.psTabe {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.psTabe p {
  font-size: 14px;
}
.psTabeActive {
  border-bottom: 1px solid #fa8a05;
}
.psTabeActive p {
  color: #fa8a05;
}
.refferIconBox {
  margin-left: 60px;
  cursor: pointer;
}
/* Tabe view */
@media only screen and (min-width: 768px) {
  .heroMainSection {
    padding: 6% 4%;
  }
  .hrMainText {
    width: unset;
    text-align: start;
    font-size: 35px;
  }
  .heroBox {
    min-height: 1000px;
  }
  .texSection {
    padding: 0 4%;
    flex-direction: row;
  }
  .taxTextBox {
    display: block;
  }
  .taxTextBox .taxTitle {
    font-size: 30px;
    text-align: start;
  }
  .greenBg {
    top: 23%;
  }
  .sectionHeader {
    width: unset;
    font-size: 40px;
  }
  .hrTextBox {
    align-items: start;
  }
  .hrSummeryText {
    text-align: start;
  }
  .taxImgBox {
    width: 40%;
  }
  .taxTextBox {
    width: 60%;
  }
  .taxImgBox {
    display: block;
  }
  .taxImgBox img {
    width: 100%;
  }
  .subTitle {
    width: 60%;
  }
  .subSummery {
    width: 60%;
  }
  .emailInputBox {
    width: 63%;
  }
  .subMobileImg {
    display: block;
  }
  .serviceCardBox {
    padding: 20px 30px;
    margin-top: 20px;
  }

  .PopularSection {
    display: flex;
    margin-top: 100px;
  }
  .serviceSection {
    margin-bottom: 5%;
    margin-top: 2%;
  }
  .heroMainSection .hrSummeryText {
    padding-left: 0%;
  }
  .taxQueSection {
    height: 450px;
  }
  .psTabe p {
    font-size: 20px;
  }
}
/* Desktop view */
@media only screen and (min-width: 1000px) {
  .heroMainSection {
    padding: 6% 9%;
    min-height: 455px;
    flex-direction: row;
    gap: 30px;
  }
  .hrTextBox {
    width: 60%;
  }
  .hrImgBox {
    width: 40%;
  }
  .hrMainText {
    font-size: 50px;
  }
  .heroBox {
    min-height: unset;
  }
  .texSection {
    padding: 0 9%;
  }
  .taxTextBox .taxTitle {
    font-size: 40px;
  }
  .greenBg {
    top: 0%;
  }
  .yellowBg {
    top: -50%;
    display: block;
  }

  .sectionHeader {
    font-size: 46px;
    text-align: start;
  }
  .priceCardBox {
    padding: 0 20px;
    overflow: visible;
  }
  .BlogSection .carousel-container {
    width: 78%;
  }
  .subscribeInSection {
    width: 65%;
    padding: 45px 60px;
  }
  .subTitle {
    font-size: 30px;
  }
  .subMobileImg {
    width: unset;
    top: 72px;
  }
  .PopulariNSection {
    width: 78%;
  }
  .emailInputBox {
    width: 50%;
  }
  .hrImgBox img {
    width: unset;
  }
  .taxQueSection {
    height: 500px;
  }
  .priceSelectTab {
    display: none;
  }
}
