.serviceCard {
  /* width: 25%; */
  min-width: 300px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(184, 255, 146);
  background: linear-gradient(
    165deg,
    rgb(184 255 146 / 22%) 0%,
    rgb(253 255 200 / 25%) 59%
  );
  border: 1px solid #90ed006e;
}
.svrCardHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: relative;
}
.svrUpArrow {
  width: 30px;
  position: absolute;
  top: -5px;
  right: -5px;
  cursor: pointer;
}
.svrCardHeader p {
  width: 60%;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.hrLine {
  width: 100%;
  border-top: 1px rgba(128, 128, 128, 0.24) solid;
  margin: 10px 0;
}
.svrCardSummery {
  font-size: 16px;
  color: #4d4d4d;
  line-height: 24px;
  margin-bottom: 10px;
}
.sveCardImgBox {
  width: 100%;
  height: 48%;
  border-radius: 23px;
  overflow: hidden;
}
.sveCardImgBox img {
  width: 100%;
  height: 100%;
}
.taxQueCard {
  width: 18%;
  min-width: 258px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.taxQueCard img {
  width: 70px;
}
.taxQueCard p {
  font-size: 22px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
}
.taxQueCard samp {
  font-size: 16px;
  color: #fff;
  text-align: center;
}
.priceCard {
  width: 25%;
  min-width: 100%;
  background: #fff;
  padding: 10px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
}
.priceCardActive .pcHeroSection {
  background: #96dd6f69;
  border: 1px solid #fa8c05;
}
.priceCardActive.priceCard {
  border: 1px solid #fa8a05;
  box-shadow: #fa8a0524 0px 7px 29px 0px;
}
.pcHeroSection {
  width: 100%;
  min-height: 300px;
  background: #96dd6f1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 20px;
}
.pcTitle {
  font-size: 30px;
  color: black;
  font-weight: 600;
}
.pcbasPrice {
  font-size: 18px;
  font-weight: 500;
  color: #a5a5a5;
  margin: 3px 0;
  position: relative;
}
.pcbasPrice span {
  width: 50px;
  display: block;
  border-top: 1px solid gray;
  position: absolute;
  right: 0px;
  top: 14px;
}
.pcPrice {
  font-size: 38px;
  font-weight: 600;
  color: #fa8a05;
}
.pcPrice samp {
  font-size: 24px;
  color: #8e8e8e;
}
.psSummery {
  font-size: 16px;
  color: #4d4d4d;
  text-align: center;
  margin: 10px 0;
}
.pcSummerySection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.pcFeturesPera p {
  font-size: 16px;
  color: #4d4d4d;
}
.pcFeturesPera {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.Mpopular {
  position: absolute;
  top: -13px;
  right: 20px;
  width: 110px;
  height: 26px;
  background: #ff9361;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.Mpopular p {
  font-size: 14px;
  color: #ffffff;
}
.blogCard {
  min-width: 340px;
  width: 100%;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.blogImg {
  width: 100%;
  border-radius: 20px;
}
.BlogTitle {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
  margin-top: 20px;
}
.BlogSummery {
  font-size: 16px;
  color: #4d4d4d;
}
.BlogTextBox {
  padding: 15px;
  position: relative;
}
.BlogUserOutBox {
  width: 100%;
  position: absolute;
  top: -30px;
  left: 0px;
  display: flex;
  justify-content: center;
}
.BlogUserBox {
  width: 88%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  background: #feffea;
  align-items: center;
  border-radius: 15px;
  border: 1px solid #8080803d;
}
.buABox {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.UpRArrow {
  position: absolute;
  bottom: -16px;
  right: 23px;
  cursor: pointer;
}
.userCard {
  width: 25%;
  min-width: 293px;
  height: 365px;
  position: relative;
  display: flex;
  justify-content: center;
}
.userCard .ucAvatarImg {
  width: 100%;
  height: 100%;
  border-radius: 14px;
}
.mbCardInfo {
  width: 93%;
  position: absolute;
  bottom: -68px;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.mbName {
  font-size: 20px;
  font-weight: 500;
  color: #121129;
}
.mbpos {
  font-size: 16px;
  color: #4d4d4d;
}
.mbIconBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}
.blogRowCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.256);
  background: #f8f8f8;
}
.blogRowCard .blogImg {
  width: 100%;
}
.blogRowCard .BlogTextBox {
  width: 100%;
}
.blogBUserInfoBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.blogRowCard .buABox p {
  color: #fe8903;
}
.teamCard {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.teamCard .userCard {
  width: 39%;
  height: auto;
  min-width: unset;
}
.teamNote {
  width: 61%;
  background: #feffea;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.teamPage .sectionHeader {
  top: -4% !important;
  font-size: 17px !important;
}
.teamNote .mbName {
  font-size: 20px;
  font-weight: 500;
  color: #121129;
}
.teamNote .mbpos {
  font-size: 16px;
  color: #fe8903;
}
.teamNote .mbposSummary {
  font-size: 11px;
  color: #4d4d4d;
}
.teamPage .teamCard {
  height: 196px;
}

.teamCard .mbCardInfo {
  width: 100%;
  bottom: -1px;
}
.teamCard .mbCardInfo .mbIconBox {
  gap: 25px;
}
.featuresCard {
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  cursor: pointer;
}
.featuresCard img {
  width: 40px;
}
.fecTitle {
  font-size: 20px;
  font-weight: 500;
  color: #121129;
}
.fecSummery {
  font-size: 16px;
  color: #4d4d4d;
}
.fcHrLine {
  width: 100%;
  height: 4px;
  border-radius: 3px;
  background: rgb(184, 255, 146);
  background: linear-gradient(
    153deg,
    rgba(184, 255, 146, 1) 0%,
    rgba(253, 255, 200, 1) 59%
  );
}
.benefiteCard {
  width: 100%;
  padding: 20px;
  background: rgb(150, 221, 111);
  background: linear-gradient(
    189deg,
    rgba(150, 221, 111, 0.14609593837535018) 0%,
    rgba(252, 255, 195, 0.14609593837535018) 59%
  );
  border: 1px solid greenyellow;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.jobCard {
  width: 100%;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.roleBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
}
.roleLabel {
  background: #ffe1c0;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0 14px;
}
.roleLabel p {
  width: max-content;
  font-size: 14px;
  color: #fe8903;
}
.jobCardTitle {
  font-size: 25px;
  font-weight: 500;
  margin-top: 15px;
}
.jcInfobox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.jobCard .buABox p {
  color: #000;
}
.jobCard .buABox img {
  width: 20px;
  height: 25px;
}
.jobCard .roleBox .hrYline {
  width: -webkit-fill-available;
  height: 1px;
  background: #fe8903;
}
.jobCardSummary {
  font-size: 16px;
  color: #4d4d4d;
  margin: 20px 0;
}
.productCard {
  width: 100% !important;
  min-width: 290px !important;
}
.pcFeturesBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.pcRatingBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pcPrict {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 7px;
}
.pcPrict p {
  font-size: 20px;
  font-weight: 600;
  color: #fa8a05;
}
.pcPrict span {
  margin-right: 8px;
  font-size: 20px;
  font-weight: 600;
}
.pcPrict p samp {
  color: gray;
  font-size: 16px;
}
.pcRating {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
}
.productCard .checkBox {
  margin-bottom: 10px;
}
.ratingBOx {
  display: flex;
  flex-direction: row;
}
.ratingBOx img {
  width: 18px;
}
.pcBtnBox {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.productCard .pcBtnBox {
  justify-content: center;
}
.productCard .appBtn {
  min-width: 164px;
}
/* Tabe view */
@media only screen and (min-width: 768px) {
  .serviceCard {
    min-width: 330px;
  }
  .svrCardSummery {
    margin-bottom: 16px;
  }
  .sveCardImgBox {
    height: 55%;
  }
  .priceCard {
    min-width: 359px;
    padding: 20px;
  }
  .pcbasPrice {
    margin: 16px 0;
  }
  .psSummery {
    margin: 20px 0;
  }
  .pcSummerySection {
    gap: 20px;
  }
  .pcHeroSection {
    padding: 20px;
  }
  .blogRowCard {
    gap: 8px;
  }
  .blogRowCard {
    flex-direction: row;
  }
  .blogRowCard .blogImg {
    width: 40%;
  }
  .blogRowCard .BlogTextBox {
    width: 60%;
  }
  .teamPage .sectionHeader {
    top: -6% !important;
    font-size: 24px !important;
  }
  .teamNote .mbposSummary {
    font-size: 14px;
  }
  .teamPage .teamCard {
    height: 250px;
  }
  .jobCard {
    width: 48%;
  }
  .featuresCard {
    width: 47%;
  }
  .productCard .pcBtnBox {
    justify-content: start;
  }
}
/* Desktop view */
@media only screen and (min-width: 1000px) {
  .serviceCard {
    min-width: unset;
  }
  .blogRowCard {
    gap: 20px;
  }
  .teamCard {
    width: 46%;
  }
  .teamPage .sectionHeader {
    top: -18% !important;
    font-size: 40px !important;
  }
  .jobCard {
    width: 30%;
  }
  .featuresCard {
    width: 31%;
  }
  .teamNote .mbposSummary {
    font-size: 16px;
  }
  .productCard {
    width: 46% !important;
  }
}
