.serviceCard {
  width: 25%;
  min-width: 300px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.svrCardHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: relative;
}
.svrUpArrow {
  position: absolute;
  top: 12px;
  right: 3px;
  cursor: pointer;
}
.svrCardHeader p {
  width: 60%;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.hrLine {
  width: 100%;
  border-top: 1px rgba(128, 128, 128, 0.24) solid;
  margin: 10px 0;
}
.svrCardSummery {
  font-size: 16px;
  color: #4d4d4d;
  line-height: 24px;
  margin-bottom: 10px;
}
.sveCardImgBox {
  width: 100%;
  height: 48%;
  border-radius: 23px;
  overflow: hidden;
}
.sveCardImgBox img {
  width: 100%;
  height: 100%;
}
.taxQueCard {
  width: 18%;
  min-width: 258px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.taxQueCard img {
  width: 70px;
}
.taxQueCard p {
  font-size: 22px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
}
.taxQueCard samp {
  font-size: 16px;
  color: #fff;
  text-align: center;
}
.priceCard {
  width: 25%;
  min-width: 300px;
  background: #fff;
  padding: 10px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
}
.pcHeroSection {
  width: 100%;
  min-height: 300px;
  background: #96dd6f1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.pcTitle {
  font-size: 30px;
  color: black;
  font-weight: 600;
}
.pcbasPrice {
  font-size: 18px;
  font-weight: 500;
  color: #a5a5a5;
  margin: 3px 0;
  position: relative;
}
.pcbasPrice span {
  width: 50px;
  display: block;
  border-top: 1px solid gray;
  position: absolute;
  right: 0px;
  top: 14px;
}
.pcPrice {
  font-size: 38px;
  font-weight: 600;
  color: #fa8a05;
}
.pcPrice samp {
  font-size: 24px;
  color: #8e8e8e;
}
.psSummery {
  font-size: 16px;
  color: #4d4d4d;
  text-align: center;
  margin: 10px 0;
}
.pcSummerySection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.pcFeturesPera p {
  font-size: 16px;
  color: #4d4d4d;
}
.pcFeturesPera {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.Mpopular {
  position: absolute;
  top: -13px;
  right: 20px;
  width: 110px;
  height: 26px;
  background: #ffe1c0;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.Mpopular p {
  font-size: 14px;
  color: #fe8903;
}
.blogCard {
  width: 100%;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.blogImg {
  width: 100%;
  border-radius: 20px;
}
.BlogTitle {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
  margin-top: 20px;
}
.BlogSummery {
  font-size: 16px;
  color: #4d4d4d;
}
.BlogTextBox {
  padding: 15px;
  position: relative;
}
.BlogUserOutBox {
  width: 100%;
  position: absolute;
  top: -30px;
  left: 0px;
  display: flex;
  justify-content: center;
}
.BlogUserBox {
  width: 88%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  background: #feffea;
  align-items: center;
  border-radius: 15px;
  border: 1px solid #8080803d;
}
.buABox {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.UpRArrow {
  position: absolute;
  bottom: -16px;
  right: 23px;
  cursor: pointer;
}
.userCard {
  width: 25%;
  height: 365px;
  position: relative;
  display: flex;
  justify-content: center;
}
.userCard .ucAvatarImg {
  width: 100%;
  height: 100%;
  border-radius: 14px;
}
.mbCardInfo {
  width: 93%;
  position: absolute;
  bottom: -68px;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.mbName {
  font-size: 20px;
  font-weight: 500;
  color: #121129;
}
.mbpos {
  font-size: 16px;
  color: #4d4d4d;
}
.mbIconBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}
/* Tabe view */
@media only screen and (min-width: 768px) {
  .serviceCard {
    min-width: 330px;
  }
  .svrCardSummery {
    margin-bottom: 16px;
  }
  .sveCardImgBox {
    height: 55%;
  }
  .priceCard {
    min-width: 359px;
    padding: 20px;
  }
  .pcbasPrice {
    margin: 16px 0;
  }
  .psSummery {
    margin: 20px 0;
  }
  .pcSummerySection {
    gap: 20px;
  }
  .pcHeroSection {
    padding: 20px;
  }
  .PriceplaneSection .sectionHeader {
    padding-left: 20px;
  }
}
/* Desktop view */
@media only screen and (min-width: 1000px) {
  .serviceCard {
    min-width: unset;
  }
}
