.policyBox {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  margin: 25px 0;
}
.policyPoint {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: start;
}
.policyPoint p {
  font-size: 16px;
  color: #4d4d4d;
}
.policyNoteHText {
  width: 100%;
  text-align: start;
}

/* Tabe view */
@media only screen and (min-width: 768px) {
}

/* Desktop view */
@media only screen and (min-width: 1000px) {
  .policyBox {
    padding: 25px;
  }
}
