.navBar {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
  position: absolute;
  top: 0;
}
.clogoBox {
  width: 100px;
  display: flex;
  align-items: center;
}
.clogoBox img {
  width: 100%;
  cursor: pointer;
}
.navItemBox {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 30px;
  align-items: center;
  position: relative;
}
.navItemText {
  display: none;
  color: #000;
  font-family: poppins;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}
.navItemText:hover {
  color: #fe8903;
}
.navItemTextActive {
  color: #fe8903;
}
.navItemText samp {
  width: 100%;
  height: 2px;
  background: #fe8903;
  position: absolute;
  bottom: -3px;
  left: 0px;
}
.nl1,
.nl2 {
  display: none;
}
.navItemText:hover .nl1,
.navItemText:hover .nl2 {
  display: block;
}
.navItemTextActive .nl1,
.navItemTextActive .nl2 {
  display: block;
}

.navItemText .nl2 {
  width: 80%;
  bottom: -10px;
}
.navManHoverBox {
  position: absolute;
  top: 33px;
  left: -200%;
  width: 45vw;
  height: auto;
  border-radius: 30px;
  background: rgb(255, 255, 255);
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.categoryItemBox {
  width: 30%;
  min-height: 40px;
  /* max-height: 40px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-radius: 8px;
}
.categoryItemBox img{
  width: 14px;
}
.categoryItemBox:hover {
  background: rgba(128, 128, 128, 0.178);
}
.categoryItemBox p {
  color: #000000;
  font-size: 14px;
}
.meneIcon {
  width: 40px;
}
.grayBox {
  width: 0%;
  height: 100vh;
  background: rgba(128, 128, 128, 0.301);
  position: absolute;
  top: 0px;
  left: 0;
  transition: all 0.6s;
  display: flex;
  justify-content: start;
  z-index: 99;
  overflow: hidden;
}
.MobileMenu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 30px;
  gap: 4%;
  padding-top: 11%;
  background: #0d203b;
  overflow: hidden;
  position: relative;
}
.MobileMenu p {
  font-size: 30px;
  color: #fe8903;
  font-family: "poppinsBold";
}
.mobileNavItem {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.mobileNavItem img {
  width: 40px;
  height: 40px;
}
.mobileNavBackBtn {
  position: absolute;
  top: 40%;
  right: -15px;
  width: 51px;
}
.LogInIconM {
  width: 35px;
}
.navItemBox .appBtn {
  display: none;
}
.goTopIcon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  cursor: pointer;
  z-index: 9999;
}
.searchInputBox {
  position: absolute;
  right: 1%;
  top: 55px;
  border: 1px solid rgba(128, 128, 128, 0.548);
  height: 30px;
  width: 200px;
  border-radius: 15px;
  overflow: hidden;
  background: #d6d6d6e1;
}
.searchInputBox img {
  position: absolute;
  right: 8px;
  top: 3px;
  width: 20px;
  cursor: pointer;
}
.searchInputBox input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 20px;
}
.searchInputBox input:focus {
  outline: none;
}
.UserProfileTab {
  position: relative;
  cursor: pointer;
}
.UserProfileTab .dropBox {
  position: absolute;
  top: 48px;
  border-radius: 8px;
  overflow: hidden;
  flex-direction: column;
  border: 1px solid rgba(128, 128, 128, 0.219);
  z-index: 9;
}
.UserProfileTab .dropItem {
  width: 100%;
  height: 30px;
  padding: 0px 10px;
  border-bottom: 1px solid gray;
  background: #fff;
  transition: all 0.6s;
  cursor: pointer;
}
.UserProfileTab .dropItem:hover {
  background: #fffc;
}
.NavSearchInputBox {
  display: none;
  width: 40%;
  min-width: 175px;
  height: 40px;
  background: #fff;
  border: 1px solid rgba(128, 128, 128, 0.404);
  border-radius: 20px;
  position: relative;
}
.NavSearchInputBox input {
  width: 100%;
  height: 100%;
  padding-left: 30px;
  border: none;
  border-radius: 20px;
}
.NavSearchInputBox input:focus {
  outline: none;
}
.NavSearchInputBox img {
  position: absolute;
  right: 13px;
  top: 9px;
  cursor: pointer;
}
.dispalySearchProducts {
  position: absolute;
  max-height: 400px;
  overflow-y: scroll;
  top: 40px;
  width: 100%;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.404);
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sProductItem {
  width: 100%;
  min-height: 50px;
  padding: 10px 0;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.342);
}
.sProductItem p {
  line-height: 17px;
}
.sProductItem span {
  font-size: 13px;
  color: rgba(128, 128, 128, 0.822);
}
/* Tabe view */
@media only screen and (min-width: 768px) {
  .meneIcon {
    width: 50px;
  }
  .MobileMenu {
    width: 50%;
  }
  .LogInIconM {
    display: none;
  }
  .navItemBox .appBtn {
    display: flex;
  }
  .navBar {
    padding: 0 9%;
  }
  .goTopIcon {
    width: 65px;
  }
  .clogoBox {
    width: 150px;
  }
  .NavSearchInputBox {
    width: 50%;
    display: block;
  }
}
/* Desktop view */
@media only screen and (min-width: 1000px) {
  .clogoBox {
    width: 200px;
  }
  .navItemText {
    display: block;
  }
  .meneIcon {
    display: none;
  }
  .NavSearchInputBox {
    width: 25%;
  }
}
