.userBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sideMenu {
  min-width: 300px;
  max-width: 300px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: rgb(255, 255, 255);
  transition: all 0.7s cubic-bezier(0.13, 1.01, 0.97, 0.79);
  padding-top: 20px;
  position: relative;
}
.sideMenuItem_Box {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
  margin-top: 40px;
  position: relative;
  height: -webkit-fill-available;
  overflow-y: scroll;
  padding-bottom: 90px;
}
.sideMenuItemMainBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}
.sideMenuItem {
  width: 100%;
  min-height: 55px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}
.sideMenuItem img {
  width: 20px;
  position: absolute;
  right: 20px;
  transition: all 0.7s;
}
.sideMenuItem:hover {
  background: #5ab15b;
}
.sideMenuItem:hover p {
  color: #fff;
}
.ActiveSideMenuItem {
  background: #5ab15b;
  box-shadow: 0px 10px 30px 0px #5ab15b66;
}

.sideMenuItem p {
  font-size: 18px;
  color: #44465a;
  font-weight: 600;
  transition: all 0.2s;
}
.ActiveSideMenuItem p {
  color: #ffffff;
}

.subMenuItemActive {
  background: #5ab15b;
}
.subMenuItemActive p {
  color: #fff !important;
}

.subMenuItemBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #00b30029;
  border-radius: 8px;
  transition: all 0.6s;
  transform-origin: top;
  overflow: hidden;
}
.subMenuItem {
  cursor: pointer;
  transition: all 0.5s;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.subMenuItem:hover {
  background: #5ab15b;
}
.userMainSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
}

.ProductList {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  overflow-y: scroll;
}
.sideProductItem {
  width: 100%;
  min-height: 55px;
  padding-left: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.192);
  display: flex;
  align-items: center;
  flex-direction: row;
  transition: all 0.4s;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  gap: 10px;
  margin-bottom: 10px;
}
.sideProductItemActive {
  background: #5ab15b;
  box-shadow: 0px 10px 30px 0px #5ab15b66;
}
.sideProductItemActive:hover {
  background: #5ab15b !important;
}
.sideProductItemActive p {
  color: #fff;
}
.sideProductItem:hover {
  box-shadow: 0px 10px 30px 0px #afafaf66;
  background: #c0c0c0;
}
.sideProductItem p {
  font-size: 20px;
}

.NoDataBox {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userInfoTopBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 20px;
}
.userInfoBox {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.userIngBox {
  width: 120px;
  height: 120px;
  border-radius: 15px;
}
.userIngBox img {
  width: 100%;
  height: 100%;
}
.user_Box {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
}
.user_InfoBox {
  display: flex;
  flex-direction: column;
}
.user_InfoBox p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.udBTN {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #cfdcd0;
  background: #5ab15b29;
  border-radius: 10px;
  gap: 10px;
  cursor: pointer;
}
.udBTN p {
  color: #494e53;
}
.userTopBtnBox {
  width: 30%;
}
.serviceDetailsBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 20px;
}
.usFeatureBox {
  margin-bottom: 7px;
}
.usFeatureBox h4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 2px;
}
.usFeatureBox p {
  font-size: 14px;
  color: #757578;
}
.docRequerBox {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.docUploadBox {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.docBox {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.301);
}
.docBox input {
  display: none;
}
.docLable {
  padding: 0 12px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.199);
  border-radius: 10px;
}
.docLable p {
  font-size: 14px;
  color: #44465a;
}
.docUploadIcon,
.docBox iframe {
  width: 65px;
  height: 65px;
  margin-top: 10px;
}
.docStatusText {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}
.successDocState {
  color: #6fac50;
}
.pandingDocState {
  color: #f2c617;
}
.rejectDocState {
  color: #e92c2c;
}
.userInfoBox .btnBox {
  justify-content: end;
}
.docSelectText {
  width: 100%;
  color: #d35d5d;
  text-align: end;
}
.userServiceSection .serviceCard {
  width: 29%;
}
.usHeader {
  text-align: center;
  margin-top: 20px;
}
.docA {
  border: 2px solid green;
}
.docP {
  border: 2px solid yellow;
}
.docR {
  border: 2px solid red;
}
.DocuploadIcon {
  width: 20px;
  margin-left: 20px;
  position: relative;
  bottom: 0px;
  cursor: pointer;
}

.userDMainSectin {
  display: none;
  width: 100%;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.userDMainActiveSectin {
  display: flex;
}
.udServiceCard {
  width: 40%;
  background: #d6f3d6;
  padding: 20px;
  border-radius: 17px;
  color: #000;
}
.udServiceCardActive {
  background: #5ab15b;
}
.serviceList {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
