.blogCoverImg {
  width: 100%;
  margin-bottom: 30px;
}
.blogDetailsPage .productDetailBox {
  width: 100%;
  padding: 0 2%;
}

.buABox p {
  color: #fe8903;
}
.blogMtitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.sideServiceBox .blogMtitle {
  text-align: center;
}
.blogNText {
  font-size: 16px;
  color: #4d4d4d;
  margin-bottom: 20px;
}
.blogSubHeader {
  font-size: 20px;
  margin-bottom: 10px;
}
.noticeBox {
  width: 100%;
  background: #feffea;
  border-left: 5px solid #e9ebca;
  border-right: 5px solid #e9ebca;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}
.blogDetailsPage .blogBUserInfoBox {
  margin-bottom: 10px;
}
.sideServiceBox {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sideServiceBox .serviceCard {
  width: 100%;
  margin-bottom: 20px;
}
.sideServiceBox .blogMtitle {
  margin: 30px 0;
  font-weight: 600;
}
.bdUlPoints {
  padding-left: 3%;
  list-style-type: none;
}
.blogMainTitle {
  font-size: 26px;
  margin-bottom: 30px;
}
.blogDetailsPage .navigateText {
  justify-content: start;
  margin: 10px 0;
}
.blogDetailsPage .blogMainTitle {
  font-size: 24px;
}
/* Tabe view */
@media only screen and (min-width: 768px) {
  .blogMainTitle {
    font-size: 34px;
  }
  .blogCoverImg {
    border-radius: 20px;
  }
  .bdUlPoints {
    list-style-type: disc;
  }
  .blogDetailsPage .blogMainTitle {
    font-size: 36px;
  }
  .blogMtitle {
  font-size: 26px;
  }
}

/* Desktop view */
@media only screen and (min-width: 1000px) {
  .blogDetailsPage .productDetailBox {
    padding: 0 9%;
  }
  .noticeBox {
    width: 80%;
  }
  .blogDetailsPage .blogMainTitle {
    font-size: 45px;
  }
}
