@font-face {
  font-family: "poppins";
  src: url("../public/assets/fonts/Poppins/Poppins-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "poppinsBold";
  src: url("../public/assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}

/* WebKit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray track */
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: gray; /* Gray scrollbar */
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: darkgray; /* Slightly darker on hover */
}

/* Firefox */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: gray #f1f1f1; /* Thumb color (gray) and track color (light gray) */
}

.navigateText {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}
.navigateText .navHomeT {
  font-size: 12px;
  color: #fe8903;
  cursor: pointer;
}
.navigateText .navPageT {
  font-size: 12px;
  color: #000000;
  cursor: pointer;
}
.navigateText .navSubPageT {
  font-size: 12px;
  color: #fe8903;
  cursor: pointer;
}
.navSeparator {
  color: #999;
  user-select: none;
}
/* Tabe view */
@media only screen and (min-width: 768px) {
  .navigateText {
    font-size: 20px;
  }
  .navigateText .navHomeT {
    font-size: 16px;
  }
  .navigateText .navPageT {
    font-size: 16px;
  }
  .navigateText .navSubPageT {
    font-size: 16px;
  }
}

/* Desktop view */
@media only screen and (min-width: 1000px) {
  .navigateText .navHomeT {
    font-size: 20px;
  }
  .navigateText .navPageT {
    font-size: 20px;
  }
  .navigateText .navSubPageT {
    font-size: 20px;
  }
}
